.thumbnail {
    overflow: hidden;
    position: relative;
    width: 25%;
    padding:5px;
    float: left;
  }
  .thumbnail img {
    width: 100%;
    position: relative;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .thumbnail.open:after {
    content: '';
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 5;
    bottom: 0;
    border: 10px solid transparent;
    border-bottom-color: #222;
  }
  
  .media-view {
    position: relative;
    background: #222;
    padding: 10px;
    overflow: hidden;
    width: calc(100% - 10px);
    display: none;
    margin: 0 5px;
  }
  .media-view.open{
    display: block;
  }
  .media-view .media-thump {
    width: 70%;
    float: left;
  }
  .media-view .media-info {
    padding: 10px;
    color: #fff;
  }
  .media-view .media-info p {
    color: #bbb;
    margin-bottom: 0;
  }
  .media-view .close {
    position: absolute;
    right: 10px;
    top: 5px;
    font-weight: 200;
    color: #fff;
    font-size: 24px;
    opacity: .6;
    cursor: pointer;
    z-index: 4;
  }


  .single-gallery{
    border:1px solid #ddd;
}
.single-gallery img{
    width: 100%;
}
.single-gallery .foot p{
    margin-bottom: 0;
}
.single-gallery .foot{
    padding:8px 5px;
}
.single-gallery .foot a{
    color:#555;
    display: inline-block;
    padding:0 3px;
}